@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
*{
    /* display:flex;
    justify-content: center;
    align-items: center; */
    
}

main {
  text-align: left;
  vertical-align: center;
  line-height: 100vh
}

h2{
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(90deg, #4d78ef, #709df7, #7ea3ef);
    background-clip: text;

    -webkit-background-clip: text;

    font-weight: 600;
    font-size: 70px;
    text-align: center;
    color: transparent;
}
.background{
        background-size: 3em 3em;
        background-color: #000000;
        opacity: 1
}
.topping-button {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(79, 134, 146);
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 50px;
    border-radius: 9px;
    transition: background-color 0.4s ease;
    width: 100%;
}
  
.topping-button.selected {
    background-color: #000;
    color: #fff;
}
  
.topping-button:hover {
    background-color: #000;
    color: #fff;
}
  
.topping-button:active {
    transform: scale(0.95);
}
.rejectButton {
    background-color: grey;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 15px;


}

.rejectButton:hover {
    background-color: black;
}
  
.rejectButton:active {
    background-color: black;
    transform: translateY(4px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  font-size: 30px;
  
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}
.gridMover{
  position:relative; right:10px; top:2px;
  width: 40%;
  height: 40%;
  padding: 20px;
}
.cashButton{
  font-family: 'Nunito', sans-serif;
  font-size:40px;
  width: 300px;
  height: 300px;
  background-color: lightblue;
  border-radius: 20px;
}

.cashButton:selected {
    background-color: #000;
    color: #fff;
}

.cashButton:hover {
    background-color: white;
    color: black;
}

.cashButton:active {
    transform: scale(0.95);
}

#button {
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
  }

.signin{
    background: var(--blueMain);
    color: #fff;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
}