@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

.box{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.box form{
    background: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;/* Adds shadow to the outside of the main box*/
    width: min(100%, 470px);
    padding: 70px;/* Determines how right and left spaces are*/
    display: grid;
    gap: 1rem;/* Space between Items*/
    border-radius: 10px;
}

h1{
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(90deg, #4d78ef, #709df7, #7ea3ef);
    background-clip: text;

    -webkit-background-clip: text;

    font-weight: 200;
    font-size: 50px;
    text-align: center;
    color: transparent;
}


.smallGreyText{
    color: var(--blueMain);
    font-size: .9rem;
    text-align: center;
}

.smallGreyText a{
    text-decoration: none;
    color: var(--blueMain);
}

.smallGreyText a:hover{
    text-decoration: underline;
    cursor: pointer;
}




/* .inputButton{
    font: inherit;
    border: 2px solid transparent;
    outline: 2px solid transparent;
    border-radius: 5px;
} */


/*premade colors*/
:root{
    --blueMain:#157AFE;
    --grey:#808080;
    --white:#fff;
}

span{
    color: var(--grey);
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

span::before, span::after{
    content: '';
    width: 100%;
    height: 1px;
    background: var(--grey);
    margin: auto;
}

span::before{
    margin-right: 1rem;
}

span::after{
    margin-left: 1rem;
}

.google-signin{
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, 
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
    width: 100%;
}

.centerr {
    padding-top: 14.5px;
}

body{
    font-family: 'Nunito', sans-serif;
    background: #fafafa;
}

.signin{
    background: var(--blueMain);
    color: #fff;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
}

.signinFalse{
    background: var(--blueMain);
    color: #fff;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
}

.signinFalse:active{
    font-size: 10px;
    font-size: .85rem;
    top: 50px;
    color:red;
}

.loginFailedText { 
    font-size: 15px;
    color:rgb(250, 61, 61);
    display: flex;
    place-content: center;
    align-items: center;
}




/* .title h1{
    font-size: 2rem;
    position: relative;
    padding-left: 25px;
}

.title h1::before, .title h1::after{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: var(--blueMain);
    left: 0;
    top: 12px;
    border-radius: 50%;
}

.title h1::after{
    animation: pulse 1.3s infinite;
}

@keyframes pulse{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.7);
        opacity: 0;
    }
} 



.title p{
    color: var(--grey);
    font-size: .9rem;
}*/

input, button{
    font: inherit;
    border: 2px solid transparent;
    outline: 2px solid transparent;
    border-radius: 10px;
}

#background{
    background-color: #ffffff;
opacity: 1;
background-image:  radial-gradient(#58a0ff 1.75px, transparent 1.75px), radial-gradient(#58a0ff 1.75px, #ffffff 1.75px);
background-size: 70px 70px;
background-position: 0 0,35px 35px;
}





.input-field{
    position: relative;
}

.input-field input{
    background: #eeeeee;
    padding: 23px 0px 7px;
    width: 100%;
    transition: .3s ease;
    padding-left: 10px;
}

.input-field label{
    position: absolute;
    color: var(--blueMain);
    left: 15px;
    top: 16px;
    transition: .3s ease;
}

.input-field input:focus ~ label, .input-field input:not(:placeholder-shown) ~ label{
    font-size: .85rem;
    top: 5px;
}

/* turns the border blue when used*/
.input-field input:focus{
    border: 2px solid var(--blueMain);
}

/* turns the font blue when used*/
.input-field input:focus ~ label{
    color: var(--blueMain);
}

/* #show-hide-pass{
    width: 1.5rem;
    position: absolute;
    top: 16px;
    right: 15px;
    cursor: pointer;
}

#forgot-pass{
    text-decoration: none;
    color: var(--blueMain);
    font-size: .9rem;
    text-align: end;
} */




/* 
@media screen and (max-width:480px) {
    .box form{
        background: transparent;
        box-shadow: none;
        padding: 30px;
    }
} */

.mapsPic{
    width: 20px;
    height: 20px;
}

.googleAuthButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.googleAuthButton button {
    font-size: 108px !important; /* Change the font size to your desired value */
  }

  .google-maps{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, 
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
    width: 100%;
    height: 35px;
    border-radius: 7px;
}
.google-maps:hover{
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}
.googleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
  